src/*.exe
src/photon
src/photond
src/test_photon
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.photon

# Compilation and Qt preprocessor part
*.qm
Makefile
photon-qt
Photon-Qt.app

# Unit-tests
Makefile.test
photon-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
!src/leveldb*/Makefile